@model SAP.Models.MENU

@{
    ViewBag.Title = "Muevo menu";
}

<div class="tile">
    <h2 class="text-center">Nuevo menu</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-20">
            <h4>MENU</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-3">Menu padre</label>
                    @Html.DropDownList("MEN_ID_MENU", null, "Seleccione un menu padre", htmlAttributes: new { @class = "form-control col-md-7" })
                    @Html.ValidationMessageFor(model => model.MEN_ID_MENU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <div class="col-md-3">
                        <label>Nombre del menu</label>
                    </div>
                    @Html.EditorFor(model => model.NOMBRE_MENU, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE_MENU, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    @Html.LabelFor(model => model.URL,htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                    <label class="col-md-10 text-center">Si deja la url vacia significa que este menu tendra submenu</label>
                </div>
            </div>
            <div class="form-inline">
                <div class="col-md-offset-2 col-md-8">
                </div>
                <input type="submit" value="Nuevo" class="btn btn-primary " />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>

</div>