@model SAP.Models.MENU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MENU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MENU2.NOMBRE_MENU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MENU2.NOMBRE_MENU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_MENU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_MENU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_MENU }) |
    @Html.ActionLink("Back to List", "Index")
</p>
