@model SAP.Models.MENU

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

<div class="tile">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>MENU</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_MENU)

            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-3">Menu padre</label>
                    @Html.DropDownList("MEN_ID_MENU", null, "Seleccione un menu", htmlAttributes: new { @class = "form-control col-md-7" })
                    @Html.ValidationMessageFor(model => model.MEN_ID_MENU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-3">Nombre menu</label>
                    @Html.EditorFor(model => model.NOMBRE_MENU, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE_MENU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                    <label class="col-md-10 text-center">Si deja la url vacia significa que este menu tendra submenu</label>
                    @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-inline">
                <div class="col-md-offset-2 col-md-9">
                </div>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>