@model IEnumerable<SAP.Models.MENU>

@{
    ViewBag.Title = "Menus";
}

<div class="tile">
    <h2 class="text-center">Menus disponibles</h2>

    @if (ViewBag.error !=null)
    {
        <h2 class="text-center alert-danger">ViewBag.error</h2>
    }

    <p>
        <a href="/Menus/create" class="btn btn-success">Nuevo menu</a>
    </p>
    <table class="table" id="sampleTable">
        <thead>
            <tr>
                <th>
                    Menu padre
                </th>
                <th>
                    Menu
                </th>
                <th>
                    URL
                </th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MENU2.NOMBRE_MENU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE_MENU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID_MENU }, htmlAttributes: new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_MENU }, htmlAttributes: new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>