@model SAP.Models.REGION

@{
    ViewBag.Title = "Editar región";
}

<div class="tile">
	<h2>Editar región</h2>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.ID_REGION)
			<div class="form-group">
				@Html.LabelFor(model => model.NOMBRE_REGION, "Nombre de región", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.NOMBRE_REGION, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.NOMBRE_REGION, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.CODIGO_REGION, "Código de región", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CODIGO_REGION, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CODIGO_REGION, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.ID_PAIS, "Nombre de país", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownList("ID_PAIS", "Seleccione el Pais")
					@Html.ValidationMessageFor(model => model.ID_PAIS, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Guardar" class="btn btn-primary" />
				</div>
			</div>
		</div>
	}
	<div>
		@Html.ActionLink("Regresar al listado de regiones", "Index", null, new { @class = "btn btn-secondary" })
	</div>
</div>

