@model IEnumerable<SAP.Models.REGION>

@{
    ViewBag.Title = "Index";
}

<h2>REGIONES</h2>
@if (ViewBag.error != null)
{
    <h2 class="text-center alert-danger">@ViewBag.error</h2>
}
<p>
    @Html.ActionLink("Nueva Región", "Create")
</p>
<table class="table">
    <tr>
        <th>
            NOMBRE DE REGIÓN
        </th>
        <th>
            CÓDIGO DE REGIÓN
        </th>
        <th>
            PAÍS
        </th>
        <th>
            CÓDIGO DE PAÍS
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_REGION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODIGO_REGION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAIS.NOMBRE_PAIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAIS.CODIGO_PAIS)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID_REGION }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID_REGION }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_REGION })
            </td>
        </tr>
    }

</table>

