@model IEnumerable<SAP.Models.PLANILLA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODIGO_PLANILLA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_INGRESOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_DESCUENTOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_PAGAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGO_PLANILLA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_INGRESOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_DESCUENTOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_PAGAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PLANILLA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PLANILLA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PLANILLA })
        </td>
    </tr>
}

</table>
