@{
    ViewBag.Title = "Planilla";
}

<div class="tile">
    <h2 class="text-center">Planilla</h2>
    @if (ViewBag.error != null)
    {
        <h2 class="text-center alert-danger">@ViewBag.error</h2>
    }

    @if (ViewBag.exito != null)
    {
        <h2 class="text-center alert-success">@ViewBag.exito</h2>
    }

    <p>
        <a href="/Planillas" class="btn btn-info">
            Regresar
        </a>
        <a href="#" class="btn btn-info" onclick="imprimir('planilla')">
            Imprimir
        </a>
    </p>
    <div id="planilla">
        @if (ViewBag.planilla != null)
        {
            <h2 class="text-center" id="ocultar">@ViewBag.empresa.NOMBRE_EMPRESA</h2>
            <h3 class="text-center" id="ocultar">@ViewBag.empresa.CORREO_EMPRESA</h3>
            <h5 class="text-right" id="ocultar">Telefono: @ViewBag.empresa.TELEFONO_EMPRESA<label class="alert-info">fecha: @ViewBag.fecha_actual</label> </h5>
            <h5 class="text-left">NIC: @ViewBag.empresa.NIC</h5>
            <h5 class="text-left">PAGINA WEB: @ViewBag.empresa.PAGINA_WEB</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Empleado</th>
                        <th class="text-center">Salario base</th>
                        <th class="text-center">Otros ingresos</th>
                        @foreach (var item_descuento in ViewBag.historial_cabecera_descuento)
                        {
                            <th class="text-center">
                                @item_descuento
                            </th>
                        }
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{double total_planilla = 0;}

                    @foreach (var detalle in ViewBag.historial)
                    {
                        double total = (double)detalle.TOTAL;
                        <tr>
                            <td class="text-center">@detalle.NOMBRE_EMPLEADO_HISTORIAL</td>
                            <td class="text-center">@detalle.TOTAL</td>

                            @{double tot_empleado = 0;}

                            @foreach (var valor in detalle.ingreso)
                            {
                                if (valor.INGRESO_HISTORIAL!=null)
                                {
                                    total = total + (double)@valor.INGRESO_HISTORIAL;
                                    tot_empleado = tot_empleado + (double)@valor.INGRESO_HISTORIAL; 
                                }
                            }
                            <td class="text-center">@tot_empleado</td>
                            @{int conteo = 0;}
                            @{int nohay = 0;}
                            @{int control = 0;}
                            @foreach (var item_descuento in ViewBag.historial_cabecera_descuento)
                            {
                                nohay = 0;
                                control = 0;
                                conteo = 0;
                                foreach (var valor in detalle.descuento)
                                {
                                    control = control + 1;
                                    conteo = conteo + 1;
                                    if (item_descuento == valor.NOMBRE_DESCUENTO_HISTORIAL)
                                    {
                                        if (valor.DESCUENTO_HISTORIAL != null)
                                        {
                                            total = total - (double)@valor.DESCUENTO_HISTORIAL;
                                            <td class="text-center">@valor.DESCUENTO_HISTORIAL</td>
                                        }
                                        else
                                        {
                                            nohay = nohay + 1;
                                        }
                                    }
                                    else
                                    {
                                        nohay = nohay + 1;
                                    }
                                }
                                if (nohay == control)
                                {
                                    <td></td>
                                }
                            }
                            @{total_planilla = total_planilla + total;}
                            <td>@total</td>
                        </tr>
                                }
                    <tr>
                        <td colspan="@ViewBag.total_espacio" class="text-right"> Total </td>
                        <td>@total_planilla</td>
                    </tr>
                </tbody>
            </table>
                                }
    </div>
</div>

<script type="text/javascript">
    function descargar(nombre) {
        var source = document.getElementById('boleta');
        var pdf = new jsPDF('p', 'pt', 'letter');

        specialElementHandlers = {
            '#bypassme': function (element, renderer) {
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };

        pdf.fromHTML(
            source,
            margins.left,
            margins.top, {
                'width': margins.width,
                'elementHandlers': specialElementHandlers
            },

            function (dispose) {
                pdf.save(nombre);
            }, margins
        );
    }

    function imprimir(valor) {
        var printContents = document.getElementById(valor).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }


</script>



