@model IEnumerable<SAP.Models.DIRECCION>

@{
    ViewBag.Title = "Index";
}
    <div class="tile">
        <h2>DIRECCION</h2>
        @if (ViewBag.error != null)
        {
            <h2 class="text-center alert-danger">@ViewBag.error</h2>
        }
        <p>
            @Html.ActionLink("Nueva Direccion", "Create")
        </p>
        <table class="table" id="sampleTable">
            <tr>
                <th>
                    SUB REGIÓN
                </th>
                <th>
                    BARRIO
                </th>
                <th>
                    COLONIA
                </th>
                <th>
                    CANTÓN
                </th>
                <th>
                    CASERÍO
                </th>
                <th>
                    CALLE
                </th>
                <th>
                    AVENIDA
                </th>
                <th>
                    PASAJE
                </th>
                <th>
                    RESIDENCIAL
                </th>
                <th>
                    NUMERO DE CASA
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUB_REGION.NOMBRE_SUB_REGION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BARRIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.COLONIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CANTON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CASERIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CALLE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AVENIDA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PASAJE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RESIDENCIAL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NUMERO_CASA)
                    </td>


                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID_DIRECCION }, htmlAttributes: new { @class = "btn btn-primary" }) ||
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_DIRECCION }, htmlAttributes: new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>
