@model IEnumerable<SAP.Models.EMPRESA>

@{
    ViewBag.Title = "Index";
}

    <div class="tile">
        <h2>EMPRESA</h2>
        @if (ViewBag.error != null)
        {
            <h2 class="text-center alert-danger">@ViewBag.error</h2>
        }

        <table class="table">
            <tr>
                <th>
                    NOMBRE DE LA EMPRESA
                </th>
                <th>
                    DIRECCIÓN
                </th>
                <th>
                    REPRESENTANTE
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE_EMPRESA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIRECCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REPRESENTANTE)
                    </td>
                    <td>
                        @Html.ActionLink("Configurar", "Edit", new { id = item.ID_EMPRESA }, new { @class = "btn btn-warning" })
                    </td>
                </tr>
            }

        </table>
    </div>

