@model SAP.Models.GENERO

@{
    ViewBag.Title = "Editar género";
}

<div class="tile">
	<h2>Editar Género</h2>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.ID_GENERO)
			<div class="form-group">
				NOMBRE DE GÉNERO
				<div class="col-md-10">
					@Html.EditorFor(model => model.NOMBRE_GENERO, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.NOMBRE_GENERO, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Guardar" class="btn btn-primary" />
				</div>
			</div>
		</div>
	}
	<div>
		@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary"})
	</div>
</div>