@model IEnumerable<SAP.Models.GENERO>

@{
    ViewBag.Title = "Index";
}

<h2>GÉNEROS</h2>

<p>
    @Html.ActionLink("Nuevo Género", "Create")
</p>
<table class="table">
    <tr>
        <th>
            NOMBRE DE GÉNERO
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_GENERO)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID_GENERO }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID_GENERO }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_GENERO })
            </td>
        </tr>
    }

</table>

