@model SAP.Models.PUESTO

@{
    ViewBag.Title = "Edit";
}

    <div class="tile">
        <h2>Actualizar</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <h4>PUESTO</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_PUESTO)

            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-3">Nombre del puesto</label>
                    @Html.EditorFor(model => model.NOMBRE_PUESTO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE_PUESTO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-3">Código</label>
                    @Html.EditorFor(model => model.CODIGO_PUESTO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CODIGO_PUESTO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-3">Salario mínimo</label>
                    @Html.EditorFor(model => model.SALARIO_MINIMO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SALARIO_MINIMO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-3">Salario máximo</label>
                    @Html.EditorFor(model => model.SALARIO_MAXIMO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SALARIO_MAXIMO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-3">Departamento</label>
                    @Html.DropDownList("ID_DEPARTAMENTO", "Seleccione el Pais")
                    @Html.ValidationMessageFor(model => model.ID_DEPARTAMENTO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-inline">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>

        }

        <div>
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary"})
        </div>
    </div>

