@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Servicio</title>
</head>
<body>
    @foreach (var item in ViewBag.menus)
    {
        if (string.IsNullOrEmpty(item.URL))
        {
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">@item.NOMBRE_MENU</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Usuario/Index"><i class="icon fa fa-circle-o"></i>Usuarios</a></li>
                    <li><a class="treeview-item" href="" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i>Roles</a></li>
                    <li><a class="treeview-item" href=""><i class="icon fa fa-circle-o"></i>Permisos</a></li>
                    <li><a class="treeview-item" href=""><i class="icon fa fa-circle-o"></i>Empleados</a></li>
                </ul>
            </li>
        }
        else
        {
            <li><a class="app-menu__item active" href="/"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Index</span></a></li>
        }
    }
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/js/jquery-3.2.1.min.js")

    @Scripts.Render("~/Scripts/js/popper.min.js")
    @Scripts.Render("~/Scripts/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/js/main.js")


    @Scripts.Render("~/Scripts/js/plugins/pace.min.js")
    @Scripts.Render("~/Scripts/js/plugins/chart.js")
</body>
</html>



