@model SAP.Models.EMPLEADO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div class="tile">

    <h3>Esta seguro que desea borrar?</h3>
    <div>
        <h4>EMPLEADO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.direccion.BARRIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion.BARRIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estado_civil.NOMBRE_ESTADO_CIVIL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estado_civil.NOMBRE_ESTADO_CIVIL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.genero.NOMBRE_GENERO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.genero.NOMBRE_GENERO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.jefe.CODIGO_EMPLEADO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.jefe.CODIGO_EMPLEADO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.profesion.NOMBRE_PROFESION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.profesion.NOMBRE_PROFESION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.puesto.CODIGO_PUESTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.puesto.CODIGO_PUESTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CODIGO_EMPLEADO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CODIGO_EMPLEADO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.APELLIDO_MATERNO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.APELLIDO_MATERNO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.APELLIDO_PATERNO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.APELLIDO_PATERNO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PRIMER_NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PRIMER_NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SEGUNDO_NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SEGUNDO_NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DUI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DUI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PASAPORTE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PASAPORTE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISSS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISSS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NUP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NUP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SALARIO_BASE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SALARIO_BASE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CORREO_PERSONAL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CORREO_PERSONAL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CORREO_INSTITUCIONAL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CORREO_INSTITUCIONAL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.COMISION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.COMISION)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>

