@model SAP.Models.EMPLEADO

@{
    ViewBag.Title = "Detalles de empleado";
}
<div class="tile">
    <h2 class="text-center">Empleado: @Model.APELLIDO_PATERNO @Model.PRIMER_NOMBRE </h2>
    @if (ViewBag.error != null)
    {
        <h2 class="text-center alert-danger">@ViewBag.error</h2>
    }

    @if (ViewBag.exito != null)
    {
        <h2 class="text-center alert-info">@ViewBag.exito</h2>
    }

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label class="col-md-3">Direccion</label>
                <label class="col-md-7">@Model.direccion.COLONIA, @Model.direccion.BARRIO,@Model.direccion.CANTON, @Model.direccion.CASERIO</label>
            </dt>
            <dt>
                <label class="col-md-3">Estado civil</label>
                <label class="col-md-7">@Html.DisplayFor(model => model.estado_civil.NOMBRE_ESTADO_CIVIL)</label>
            </dt>
            <dd>
                <label class="col-md-3">Genero</label>
                <label class="col-md-7">@Html.DisplayFor(model => model.genero.NOMBRE_GENERO)</label>
            </dd>
            <dd>
                <label class="col-md-3">Jefe: </label>
                @if (Model.jefe != null)
                {
                    <label class="col-md-7">@Html.DisplayFor(model => model.jefe.APELLIDO_PATERNO), @Html.DisplayFor(model => model.jefe.PRIMER_NOMBRE)</label>
                }
                else
                {
                    <label class="col-md-7">Es jefe</label>
                }
            </dd>

            <dd>
                <label class="col-md-3">Profesion</label>
                @if (Model.profesion != null)
                {
                    <label class="col-md-7">@Html.DisplayFor(model => model.profesion.NOMBRE_PROFESION)</label>
                }
                else
                {
                    <label class="col-md-3">No tiene</label>
                }
            </dd>

            <dd>
                <label class="col-md-3">Puesto: </label>
                <label class="col-md-2">@Html.DisplayFor(model => model.puesto.NOMBRE_PUESTO)</label>
                <label class="col-md-2">Departamento: </label>
                <label class="col-md-2">@Html.DisplayFor(model => model.puesto.DEPARTAMENTO.NOMBRE_DEPARTAMENTO)</label>
            </dd>
            <dd>
                <label class="col-md-3">Codigo: </label>
                <label class="col-md-2">@Html.DisplayFor(model => model.CODIGO_EMPLEADO)</label>
            </dd>

            <dd>
                <label class="col-md-3">Nombre: </label>
                <label class="col-md-7">
                    @Html.DisplayFor(model => model.APELLIDO_PATERNO)
                    @Html.DisplayFor(model => model.APELLIDO_MATERNO),
                    @Html.DisplayFor(model => model.PRIMER_NOMBRE)
                    @Html.DisplayFor(model => model.SEGUNDO_NOMBRE)
                </label>
            </dd>
            <dd>
                <label class="col-md-3">Fecha de nacimiento: </label>
                <label class="col-md-3">@Html.DisplayFor(model => model.FECHA_NACIMIENTO)</label>
            </dd>
            <dd>
                <label class="col-md-3">DUI:</label>
                <label class="col-md-3">@Html.DisplayFor(model => model.DUI)</label>
            </dd>

            <dd>
                <label class="col-md-3">Pasaporte:</label>
                <label class="col-md-3">@Html.DisplayFor(model => model.PASAPORTE)</label>
            </dd>
            <dd>
                <label class="col-md-3">Pasaporte:</label>
                <label class="col-md-7">@Html.DisplayFor(model => model.NIT)</label>
            </dd>

            <dd>
                <label class="col-md-3">Seguro Social:</label>
                <label class="col-md-7">@Html.DisplayFor(model => model.ISSS)</label>
            </dd>

            <dd>
                <label class="col-md-3">NUP:</label>
                <label class="col-md-7">@Html.DisplayFor(model => model.NUP)</label>
            </dd>

            <dd>
                <label class="col-md-3">Salario base:</label>
                <label class="col-md-7">@Html.DisplayFor(model => model.SALARIO_BASE)</label>
            </dd>

            <dd>
                <label class="col-md-3">Correo personal:</label>
                <label class="col-md-7">@Html.DisplayFor(model => model.CORREO_PERSONAL)</label>
            </dd>

            <dd>
                <label class="col-md-3">Correo institucional:</label>
                <label class="col-md-7">@Html.DisplayFor(model => model.CORREO_INSTITUCIONAL)</label>
            </dd>

            <dd>
                <label class="col-md-3">¿Tiene comision?</label>
                @if (Model.COMISION != null)
                {
                    if (Model.COMISION==true)
                    {
                        <label class="col-md-3">SI</label>
                    }
                    else
                    {
                        <label class="col-md-3">NO</label>
                    }
                }
                else
                {
                    <label class="col-md-3">NO</label>
                }
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EMPLEADO }, htmlAttributes: new { @class = "btn btn-warning" }) |
        <a href="/empleadoes/" class="btn btn-info">Regresar</a>
    </p>
</div>