@model SAP.Models.DESCUENTO_RENTA

@{
    ViewBag.Title = "";
}

<div class="tile">
	<h2>Eliminar descuento de Renta</h2>

	<h3>¿Está seguro de eliminar este descuento de Renta?</h3>
	<div>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.MIN_RENTA)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.MIN_RENTA)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.MAX_RENTA)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.MAX_RENTA)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.PORCENTAJE_RENTA)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.PORCENTAJE_RENTA)
			</dd>

		</dl>

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Eliminar" class="btn btn-primary" /> |
				@Html.ActionLink("Regresar al listado de Renta", "Index", null, new { @class = "btn btn-secondary" })
			</div>
		}
	</div>

</div>

