@model SAP.Models.PERMISO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PERMISO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_PERMISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_PERMISO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_PERMISO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_PERMISO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PERMISO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
