@model IEnumerable<SAP.Models.PERMISO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_PERMISO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION_PERMISO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_PERMISO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_PERMISO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PERMISO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PERMISO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PERMISO })
        </td>
    </tr>
}

</table>
