@model SAP.Models.CENTRO_COSTO

@{
    ViewBag.Title = "Details";
}

    <div class="tile">
        <h2>DETALLES DE</h2>

        <div>
            <h4>CENTRO DE COSTO</h4>
            <hr />
            <table class="table" id="sampleTable">
                <tr>

                    <th>
                        DEPARTAMENTO
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.DEPARTAMENTO.NOMBRE_DEPARTAMENTO)
                    </td>
                </tr>
                <tr>
                    <th>
                        AÑO CALENDARIO
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ANIO)
                    </td>
                </tr>
                <tr>
                    <th>
                        PRESUPUESTO
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.MONTO_ASIGNADO)
                    </td>
                </tr>
                <tr>
                    <th>
                        DESCUENTO
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.SALDO)
                    </td>
                </tr>
                <tr>
                    <th>
                        CANTIDAD ACTUAL
                    </th>

                    @{double total = 0;}
                    @{total = (double)Model.MONTO_ASIGNADO - (double)Model.SALDO;}
                    @if (total >= 0)
                    {
                        <td class="text-center">@string.Format("{0:0.00}", total)</td>
                    }
                    else
                    {
                        <td class="text-center">@string.Format("{0:0.00}", 0)</td>
                        <div class="alert alert-danger">Cantidad Actual menor a 0, presupuesto insuficiente del departamento: @Html.DisplayFor(model => model.DEPARTAMENTO.NOMBRE_DEPARTAMENTO) para cubrir pagos de planilla</div>

                    }
                </tr>
                <tr>
                    <th>
                        CANTIDAD SIN PAGAR
                    </th>

                    @{total = (double)Model.SALDO - (double)Model.MONTO_ASIGNADO;}
                    @if (total >= 0)
                    {
                        <td class="text-center" style="color:red;">@string.Format("{0:0.00}", total)</td>
                    }
                    else
                    {
                        <td class="text-center" style="color:red;">@string.Format("{0:0.00}", 0)</td>


                    }
                </tr>


            </table>

        </div>
        <p>
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary"})
        </p>
    </div>

